.root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    text-align: center;
}

td {
    width: 35px;
    height: 35px;
    background-color: lightgray;
}

.btn {
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: greenyellow;
    font-weight: bold;
}

.btn-secondary {
    background-color: lavender;

}

.picked {
    background-color: #0000ff;
}

.pointToPlayer {
    background-color: #00ff00;
}

.pointToComp {
    background-color: #ff0000;
}
